body {
    width           : 960px;
    margin          : 0 auto;
    font-family    : Roboto;
    background-color: rgb(177, 177, 177);
}

li {
    display     : inline;
    margin-right: 10px;
}

li.coming-soon {
    display: none;
}