body {
    width           : 750px;
    font-famiily    : Roboto;
    background-color: rgb(177, 177, 177);
}

li {
    display     : inline;
    margin-right: 10px;
}

li.coming-soon {
    display: none;
}

ul {
    position        : fixed;
    top             : 0px;
    left            : 0px;
    padding         : 10px;
    margin          : 0px;
    width           : 100%;
    background-color: #efefef;
}